.compare{
  color:white;
}
.compare th,td{
  color:white;
  text-align: center;
}

table, th, td {
     border: 2px solid rgba(121,166,63,1);
}

.table>thead>tr>th {
    vertical-align: bottom;
    border: 2px solid rgba(121,166,63,1);
}

.compare .row {
      margin-bottom: 10px;
}

.row:first-child{
	margin-top: 10px;
}

#searchForPrimary {
  color: black;
}

#searchForSecondary {
  color: black;
}

#firstRow {
  margin-top: 10px;
}





