.container{
  margin: 1px;
  padding: 1px;

}

.app h2 {
	font-family: 'Lobster', sans-serif
}

body {
	font-family: 'Lato', sans-serif;
	  background-size: cover;
        background-image:url("http://localhost:8000/src/bg_img.jpg");
}
.app h1 {
    color: #F3843E;
}

.app h3 {
	color:green;
}

#signature {	
    font-size: 16px;
    font-weight: 200;
}

.panel > .panel-heading {
    background-color: #F3843E;
    color: black;
}

.infoDiv{
	   color: green;
    text-align: center;
}

.app p {
    color: white;
}

#warningSearch{
      margin-top: 13px;
    font-size: 20px;
        margin-top: 31px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}


.errorDivInvisible {
  visibility: hidden;
/*    position: absolute;
    top: -9999px;*/
}

.errorDivVisible {
  background: #ffe5e5;
  color: #d83f48;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
  padding: 10px 32px;
  visibility: visible;
  /*position: static;*/
}

.welcome{
  background: #65E080;
}

.btn_default{
  background-color:#F3843E;
  color:black;
}

.successFeedback {
    border-radius: 25px;
    border: 2px solid;
    padding: 11px;
    width: 100%;
    margin-bottom: 13px;
    color: green;
}

#refineCriteriaAction {
  color:#F3843E;
  text-decoration: none;
}

.homeLink {
  background-color: transparent;
  color: #F3843E;
  text-decoration: none;
  font-size: 20px;
  margin-left: 230px;
}

.homeLink:hover {
  color: #F3843E;
  text-decoration: none;
}

.advice .panel-heading {
  color: white;
}

.advice .panel-default {
  margin-top:10px;
}
