.container{
  margin: 1px;
  padding: 1px;

}

.app h2 {
	font-family: 'Lobster', sans-serif
}

body {
	font-family: 'Lato', sans-serif;
	  background-size: cover;
        background-image:url("../src/bg_img.jpg");
}
.app h1 {
    /*color: #F3843E;*/
    color: rgba(121,166,63,1);
    font-weight: bold;
}

.app h3 {
	color:green;
}

#signature {	
    font-size: 16px;
    font-weight: 200;
}

.panel > .panel-heading {
   /* background-color: #F3843E;*/
   background: -webkit-linear-gradient(top, rgba(139,179,86,1) 34%, rgba(139,179,86,1) 38%, rgba(121,166,63,1) 50%, rgba(82,136,12,1) 77%);
    color: white;
}

.infoDiv{
	  color: rgba(121,166,63,1);
    text-align: center;
}

.app p {
    color: white;
}

#warningSearch{
      margin-top: 13px;
    font-size: 20px;
        margin-top: 31px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.panel-heading{
  text-align: center;
  font-weight: bold;
}


.errorDivInvisible {
  visibility: hidden;
/*    position: absolute;
    top: -9999px;*/
}

.errorDivVisible {
  background: #ffe5e5;
  color: #d83f48;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
  padding: 10px 32px;
  visibility: visible;
  /*position: static;*/
}

.welcome{
  background: #65E080;
}

.btn_default{
/*  background-color:#F3843E;*/
  background: -webkit-linear-gradient(top, rgba(139,179,86,1) 34%, rgba(139,179,86,1) 38%, rgba(121,166,63,1) 50%, rgba(82,136,12,1) 77%);
  color:white;
}
.searchButtons {
  margin-left: 10px;
  margin-top: 6px;
  font-size:15px;
  color:white;
}

.btn.active, .btn:active {
  color:white;
   outline: none !important;
  background: -webkit-linear-gradient(top, rgba(139,179,86,1) 34%, rgba(139,179,86,1) 38%, rgba(121,166,63,1) 50%, rgba(82,136,12,1) 77%);
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
     outline: none !important;
}

.successFeedback {
    border-radius: 25px;
    border: 2px solid;
    padding: 11px;
    width: 100%;
    margin-bottom: 13px;
   color: rgba(121,166,63,1);
}

#refineCriteriaAction {
  color: rgba(121,166,63,1);
  text-decoration: none;
}

.homeLink {
  background-color: transparent;
  color: rgba(121,166,63,1);
  text-decoration: none;
  font-size: 20px;
  margin-left: 230px;
}

.homeLink:hover {
  color: rgba(121,166,63,1);
  text-decoration: none;
}

.advice .panel-heading {
  color: white;
}

.advice .panel-default {
  margin-top:10px;
}
