.container{
  margin: 1px;
  padding: 1px;
}

.app h2 {
	font-family: 'Lobster', sans-serif
}
body {
	font-family: 'Lato', sans-serif;
	    background-color: #393939;
}
.app h1 {
    color: #F3843E;
}

.app h3 {
	color:green;
}

#signature {	
    font-size: 16px;
    font-weight: 200;
}

.panel > .panel-heading {
    background-color: #F3843E;
    color: black;
}

.infoDiv{
	background-color :green;
	color: white;
}

.app p {
    color: white;
}