.ulResultList {
  list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.liResultList {
  position: relative;
  border: 2px solid green;
  margin: 5px;
  display: inline-block;
  width: 300px;
  height: 400px;
}

.imgResultList {
  display: block;
  margin: 0px auto;
  height: 250px;
  width: 250px;
}

.location {
  color:green;
  height: 70px;
  font-size: 20px;
  text-align: center;
}

.price{
  font-size: 30px;
  color:white;
  height: 40px;
  text-align: center;
}

.titleResultList{
  display: block;
  text-align: center; 
}

.removeFromFavorites{
  display:block;
  position: absolute;
  top : 5px;
  right: 60px;
  width: 20px;
  height: 19px;
}

.liResultList.remove {
  }
  .ribbonnew{
     
        position: absolute;
        text-align: center;
        bottom: 5px;
        left: 5px;
    right: 5px;
        height: 60px;
        
        line-height: 30px;
        background: pink;

        font-weight: bold;

        box-shadow: 5px 5px 20px #888888;
 text-align: center;
  vertical-align: middle; 
  }

     .info{
     
        color: green;
        padding: 10px;
        overflow: hidden;
        position: relative;
text-align: center;

  }
 .info:after {
        position: absolute;
        content: attr(title);
        top: 10px;
        left: -27px;
        height: 30px;
        width: 100px;
        line-height: 30px;
        background: pink;

        font-weight: bold;
        transform: rotate(-45deg);  
        box-shadow: 5px 5px 20px #888888;
    }
  ul {
        margin-top: 40px;
    }
#refineCriteriaActionEmptyResult
{
     font-size: 17px;
    padding-left: 26%;
        color: rgba(121,166,63,1);
}

.spanRibbon1Line{
  display: inline-block;
  height: 100%;

  margin-top: 14px;

}
